.style {
    padding: 4px;
}
.style_1 {
    padding: 4px;
}
.paragraph_style {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 1px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_2 {
    line-height: 17px;
    text-decoration: underline;
}
.paragraph_style_5 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_7 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_8 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_9 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_10 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing:     0.04em;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_3 {
    letter-spacing:     0.08em;
    line-height: 32px;
}
.paragraph_style_11 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_4 {
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}
.style_5 {
    line-height: 19px;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent;
    opacity: 1.00;
}
.style_6 {
    color: rgb(134, 181, 254);
    line-height: 19px;
    opacity: 1.00;
}
.style_7 {
    font-family: 'Trebuchet-BoldItalic', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 19px;
}
.style_8 {
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}
.style_9 {
    color: rgb(134, 181, 254);
    font-family: 'Trebuchet-BoldItalic', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 700;
    line-height: 19px;
    opacity: 1.00;
}
.style_10 {
    line-height: 19px;
}
.paragraph_style_12 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_13 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_14 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_15 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_16 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_17 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS-Bold', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_11 {
    color: rgb(134, 181, 254);
    font-family: 'TrebuchetMS-Italic', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    opacity: 1.00;
}
.paragraph_style_18 {
    color: rgb(85, 107, 209);
    font-family: 'TrebuchetMS', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 13px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_12 {
    line-height: 19px;
}
.style_External_635_1752 {
    position: relative;
}
.style_External_276_1806 {
    position: relative;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_External_630_50 {
    position: relative;
}
.Free_Form {
    color: rgb(255, 255, 255);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_630_50 {
    position: relative;
}
.graphic_generic_header_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_635_1752 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_276_1806 {
    position: relative;
}
.graphic_textbox_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class1 {
    color: rgb(134, 181, 254);
}
a.class1:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class1:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class10 {
    color: rgb(134, 181, 254);
}
a.class10:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class10:hover {
    color: rgb(214, 159, 161);
}
a.class11 {
    color: rgb(134, 181, 254);
}
a.class11:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class11:hover {
    color: rgb(214, 159, 161);
}
a.class12 {
    color: rgb(134, 181, 254);
}
a.class12:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class12:hover {
    color: rgb(214, 159, 161);
}
a.class13 {
    color: rgb(134, 181, 254);
}
a.class13:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class13:hover {
    color: rgb(214, 159, 161);
}
a.class14 {
    color: rgb(134, 181, 254);
}
a.class14:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class14:hover {
    color: rgb(214, 159, 161);
}
a.class15 {
    color: rgb(134, 181, 254);
}
a.class15:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class15:hover {
    color: rgb(214, 159, 161);
}
a.class16 {
    color: rgb(134, 181, 254);
}
a.class16:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class16:hover {
    color: rgb(214, 159, 161);
}
a.class17 {
    color: rgb(134, 181, 254);
}
a.class17:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class17:hover {
    color: rgb(214, 159, 161);
}
a.class18 {
    color: rgb(134, 181, 254);
}
a.class18:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class18:hover {
    color: rgb(214, 159, 161);
}
a.class19 {
    color: rgb(134, 181, 254);
}
a.class19:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class19:hover {
    color: rgb(214, 159, 161);
}
a.class2 {
    color: rgb(134, 181, 254);
}
a.class2:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class2:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class20 {
    color: rgb(134, 181, 254);
}
a.class20:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class20:hover {
    color: rgb(214, 159, 161);
}
a.class21 {
    color: rgb(134, 181, 254);
}
a.class21:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class21:hover {
    color: rgb(214, 159, 161);
}
a.class22 {
    color: rgb(134, 181, 254);
}
a.class22:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class22:hover {
    color: rgb(214, 159, 161);
}
a.class23 {
    color: rgb(134, 181, 254);
}
a.class23:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class23:hover {
    color: rgb(214, 159, 161);
}
a.class24 {
    color: rgb(134, 181, 254);
}
a.class24:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class24:hover {
    color: rgb(214, 159, 161);
}
a.class25 {
    color: rgb(134, 181, 254);
}
a.class25:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class25:hover {
    color: rgb(214, 159, 161);
}
a.class26 {
    color: rgb(134, 181, 254);
}
a.class26:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class26:hover {
    color: rgb(214, 159, 161);
}
a.class27 {
    color: rgb(134, 181, 254);
}
a.class27:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class27:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class28 {
    color: rgb(134, 181, 254);
}
a.class28:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class28:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class29 {
    color: rgb(134, 181, 254);
}
a.class29:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class29:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class3 {
    color: rgb(134, 181, 254);
}
a.class3:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class3:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class30 {
    color: rgb(134, 181, 254);
}
a.class30:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class30:hover {
    color: rgb(214, 159, 161);
}
a.class31 {
    color: rgb(134, 181, 254);
}
a.class31:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class31:hover {
    color: rgb(214, 159, 161);
}
a.class32 {
    color: rgb(134, 181, 254);
}
a.class32:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class32:hover {
    color: rgb(214, 159, 161);
}
a.class33 {
    color: rgb(134, 181, 254);
}
a.class33:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class33:hover {
    color: rgb(214, 159, 161);
}
a.class34 {
    color: rgb(134, 181, 254);
}
a.class34:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class34:hover {
    color: rgb(214, 159, 161);
}
a.class35 {
    color: rgb(134, 181, 254);
}
a.class35:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class35:hover {
    color: rgb(214, 159, 161);
}
a.class36 {
    color: rgb(134, 181, 254);
}
a.class36:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class36:hover {
    color: rgb(214, 159, 161);
}
a.class37 {
    color: rgb(134, 181, 254);
}
a.class37:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class37:hover {
    color: rgb(214, 159, 161);
}
a.class38 {
    color: rgb(134, 181, 254);
}
a.class38:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class38:hover {
    color: rgb(214, 159, 161);
}
a.class39 {
    color: rgb(134, 181, 254);
}
a.class39:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class39:hover {
    color: rgb(214, 159, 161);
}
a.class4 {
    color: rgb(134, 181, 254);
}
a.class4:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class4:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
a.class40 {
    color: rgb(134, 181, 254);
}
a.class40:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class40:hover {
    color: rgb(214, 159, 161);
}
a.class41 {
    color: rgb(134, 181, 254);
}
a.class41:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class41:hover {
    color: rgb(214, 159, 161);
}
a.class42 {
    color: rgb(134, 181, 254);
}
a.class42:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class42:hover {
    color: rgb(214, 159, 161);
}
a.class43 {
    color: rgb(134, 181, 254);
}
a.class43:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class43:hover {
    color: rgb(214, 159, 161);
}
a.class44 {
    color: rgb(134, 181, 254);
}
a.class44:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class44:hover {
    color: rgb(214, 159, 161);
}
a.class45 {
    color: rgb(134, 181, 254);
}
a.class45:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class45:hover {
    color: rgb(214, 159, 161);
}
a.class46 {
    color: rgb(134, 181, 254);
}
a.class46:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class46:hover {
    color: rgb(214, 159, 161);
}
a.class47 {
    color: rgb(134, 181, 254);
}
a.class47:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class47:hover {
    color: rgb(214, 159, 161);
}
a.class48 {
    color: rgb(134, 181, 254);
}
a.class48:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class48:hover {
    color: rgb(214, 159, 161);
}
a.class49 {
    color: rgb(134, 181, 254);
}
a.class49:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class49:hover {
    color: rgb(214, 159, 161);
}
a.class5 {
    color: rgb(134, 181, 254);
}
a.class5:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class5:hover {
    color: rgb(214, 159, 161);
}
a.class50 {
    color: rgb(134, 181, 254);
}
a.class50:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class50:hover {
    color: rgb(214, 159, 161);
}
a.class51 {
    color: rgb(134, 181, 254);
}
a.class51:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class51:hover {
    color: rgb(214, 159, 161);
}
a.class52 {
    color: rgb(134, 181, 254);
}
a.class52:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class52:hover {
    color: rgb(214, 159, 161);
}
a.class53 {
    color: rgb(134, 181, 254);
}
a.class53:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class53:hover {
    color: rgb(214, 159, 161);
}
a.class54 {
    color: rgb(134, 181, 254);
}
a.class54:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class54:hover {
    color: rgb(214, 159, 161);
}
a.class55 {
    color: rgb(134, 181, 254);
}
a.class55:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class55:hover {
    color: rgb(214, 159, 161);
}
a.class56 {
    color: rgb(134, 181, 254);
}
a.class56:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class56:hover {
    color: rgb(214, 159, 161);
}
a.class57 {
    color: rgb(134, 181, 254);
}
a.class57:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class57:hover {
    color: rgb(214, 159, 161);
}
a.class58 {
    color: rgb(134, 181, 254);
}
a.class58:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class58:hover {
    color: rgb(214, 159, 161);
}
a.class59 {
    color: rgb(134, 181, 254);
}
a.class59:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class59:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class6 {
    color: rgb(134, 181, 254);
}
a.class6:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class6:hover {
    color: rgb(214, 159, 161);
}
a.class60 {
    color: rgb(134, 181, 254);
}
a.class60:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class60:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class61 {
    color: rgb(134, 181, 254);
}
a.class61:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class61:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class62 {
    color: rgb(134, 181, 254);
}
a.class62:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class62:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class63 {
    color: rgb(134, 181, 254);
}
a.class63:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class63:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class64 {
    color: rgb(134, 181, 254);
}
a.class64:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class64:hover {
    color: rgb(214, 159, 161);
    text-decoration: underline;
}
a.class65 {
    color: rgb(134, 181, 254);
}
a.class65:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class65:hover {
    color: rgb(214, 159, 161);
}
a.class66 {
    color: rgb(134, 181, 254);
}
a.class66:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class66:hover {
    color: rgb(214, 159, 161);
}
a.class67 {
    color: rgb(134, 181, 254);
}
a.class67:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class67:hover {
    color: rgb(214, 159, 161);
}
a.class68 {
    color: rgb(134, 181, 254);
}
a.class68:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class68:hover {
    color: rgb(214, 159, 161);
}
a.class69 {
    color: rgb(134, 181, 254);
}
a.class69:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class69:hover {
    color: rgb(214, 159, 161);
}
a.class7 {
    color: rgb(134, 181, 254);
}
a.class7:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class7:hover {
    color: rgb(214, 159, 161);
}
a.class70 {
    color: rgb(134, 181, 254);
}
a.class70:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class70:hover {
    color: rgb(214, 159, 161);
}
a.class8 {
    color: rgb(134, 181, 254);
}
a.class8:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class8:hover {
    color: rgb(214, 159, 161);
}
a.class9 {
    color: rgb(134, 181, 254);
}
a.class9:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
a.class9:hover {
    color: rgb(214, 159, 161);
}
a:hover {
    color: rgb(221, 221, 221);
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
